---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v1/1/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52969","strMeal":"Chakchouka ","strMealAlternate":null,"strCategory":"Miscellaneous","strArea":"Tunisian","strInstructions":"In
        a large cast iron skillet or saut\u00e9 pan with a lid, heat oil over medium
        high heat. Add the onion and saut\u00e9 for 2-3 minutes, until softened. Add
        the peppers and garlic, and saut\u00e9 for an additional 3-5 minutes. Add
        the tomatoes, cumin, paprika, salt, and chili powder. Mix well and bring the
        mixture to a simmer. Reduce the heat to medium low and continue to simmer,
        uncovered, 10-15 minutes until the mixture has thickened to your desired consistency.
        (Taste the sauce at this point and adjust for salt and spice, as desired.)
        Using the back of a spoon, make four craters in the mixture, large enough
        to hold an egg. Crack one egg into each of the craters. Cover the skillet
        and simmer for 5-7 minutes, until the eggs have set. Serve immediately with
        crusty bread or pita.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/gpz67p1560458984.jpg","strTags":null,"strYoutube":"https:\/\/www.youtube.com\/watch?v=EHKNu93MSx4","strIngredient1":"Tomatoes","strIngredient2":"Olive
        Oil","strIngredient3":"Onion","strIngredient4":"Red Pepper","strIngredient5":"Green
        Pepper","strIngredient6":"Garlic","strIngredient7":"Cumin","strIngredient8":"Paprika","strIngredient9":"Salt","strIngredient10":"Chili
        Powder","strIngredient11":"Eggs","strIngredient12":"","strIngredient13":"","strIngredient14":"","strIngredient15":"","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"4","strMeasure2":"2
        tbs","strMeasure3":"1 Diced","strMeasure4":"1 sliced","strMeasure5":"1 sliced","strMeasure6":"3
        Cloves Crushed","strMeasure7":"1 tsp ","strMeasure8":"1 tsp ","strMeasure9":"3\/4
        teaspoon","strMeasure10":"1\/2 teaspoon","strMeasure11":"4","strMeasure12":"
        ","strMeasure13":" ","strMeasure14":" ","strMeasure15":" ","strMeasure16":"
        ","strMeasure17":" ","strMeasure18":" ","strMeasure19":" ","strMeasure20":"
        ","strSource":"https:\/\/www.curiouscuisiniere.com\/chakchouka\/","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Fri, 04 Jul 2025 17:57:28 GMT
[...]
