---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v1/1/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52866","strMeal":"Squash linguine","strMealAlternate":null,"strCategory":"Vegetarian","strArea":"Italian","strInstructions":"Heat
        oven to 200C\/180C fan\/gas 6. Put the squash and garlic on a baking tray
        and drizzle with the olive oil. Roast for 35-40 mins until soft. Season.\r\nCook
        the pasta according to pack instructions. Drain, reserving the water. Use
        a stick blender to whizz the squash with 400ml cooking water. Heat some oil
        in a frying pan, fry the sage until crisp, then drain on kitchen paper. Tip
        the pasta and sauce into the pan and warm through. Scatter with sage.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/wxswxy1511452625.jpg","strTags":"Pasta,Light","strYoutube":"https:\/\/www.youtube.com\/watch?v=xHZ-PoGwTLQ","strIngredient1":"Butternut
        Squash","strIngredient2":"Garlic","strIngredient3":"Olive Oil","strIngredient4":"Linguine
        Pasta","strIngredient5":"Sage","strIngredient6":"","strIngredient7":"","strIngredient8":"","strIngredient9":"","strIngredient10":"","strIngredient11":"","strIngredient12":"","strIngredient13":"","strIngredient14":"","strIngredient15":"","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"350g","strMeasure2":"3
        parts ","strMeasure3":"3 tbs","strMeasure4":"350g","strMeasure5":"Small bunch","strMeasure6":"","strMeasure7":"","strMeasure8":"","strMeasure9":"","strMeasure10":"","strMeasure11":"","strMeasure12":"","strMeasure13":"","strMeasure14":"","strMeasure15":"","strMeasure16":"","strMeasure17":"","strMeasure18":"","strMeasure19":"","strMeasure20":"","strSource":"https:\/\/www.bbcgoodfood.com\/recipes\/creamy-squash-linguine","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Tue, 08 Jul 2025 23:04:51 GMT
[...]
