---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v1/1/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52885","strMeal":" Bubble & Squeak","strMealAlternate":null,"strCategory":"Pork","strArea":"British","strInstructions":"Melt
        the fat in a non-stick pan, allow it to get nice and hot, then add the bacon.
        As it begins to brown, add the onion and garlic. Next, add the sliced sprouts
        or cabbage and let it colour slightly. All this will take 5-6 mins.\r\nNext,
        add the potato. Work everything together in the pan and push it down so that
        the mixture covers the base of the pan \u2013 allow the mixture to catch slightly
        on the base of the pan before turning it over and doing the same again. It\u2019s
        the bits of potato that catch in the pan that define the term \u2018bubble
        and squeak\u2019, so be brave and let the mixture colour. Cut into wedges
        and serve.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/xusqvw1511638311.jpg","strTags":"SideDish,Speciality","strYoutube":"https:\/\/www.youtube.com\/watch?v=etbJ9ssgsWY","strIngredient1":"Butter","strIngredient2":"Bacon","strIngredient3":"Onion","strIngredient4":"Garlic
        Clove","strIngredient5":"Brussels Sprouts","strIngredient6":"Potatoes","strIngredient7":"","strIngredient8":"","strIngredient9":"","strIngredient10":"","strIngredient11":"","strIngredient12":"","strIngredient13":"","strIngredient14":"","strIngredient15":"","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"1
        tbs","strMeasure2":"4","strMeasure3":"1 finely sliced","strMeasure4":"1 chopped","strMeasure5":"20","strMeasure6":"400g","strMeasure7":"","strMeasure8":"","strMeasure9":"","strMeasure10":"","strMeasure11":"","strMeasure12":"","strMeasure13":"","strMeasure14":"","strMeasure15":"","strMeasure16":"","strMeasure17":"","strMeasure18":"","strMeasure19":"","strMeasure20":"","strSource":"https:\/\/www.bbcgoodfood.com\/recipes\/164622\/bubble-and-squeak","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Fri, 04 Jul 2025 17:57:28 GMT
recorded_with: VCR 6.3.1
